.container {
  min-height: 100vh;
  /* background-color: white; */
  background-image: url(bg.jpg);
  background-size: cover;
  background-position: center;
  justify-content: center;
  display: flex;
}
.medical-form {
  color: black;
  max-width: 50%;
  margin: 80px auto 20px ;
  background-color: rgba(202, 219, 243, 0.619);
  padding: 20px;
  border-radius: 9px;
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}
.navbarr {
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.716);
  background-color: rgb(59, 130, 246);
}
.submit-btn {
  /* margin :auto; */
  margin-left: 43%;

}
